body, html{
    scroll-behavior: smooth;
}

a, a:hover{
    text-decoration: none;
}
il{
    list-style: none;
}

header{
    background:rgba(0,0,0,.8);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:5000;
    .logo__container{
        img{
            width:165px;
        }
    }
    nav{
        ul{
            li{
                list-style: none;
                a{
                    font-size: 17px;
                    color:#fff;
                }
            }
            // a {
                .app{
                    font-size: 17px;
                    color:#fff;
                    background-color: #45F5A1;
                    color:#000;
                    height:40px;
                    width:150px;
                    border-radius:20px;
                    transition: all ease .3s;
                    cursor: pointer;
                }
            // }
            a:hover{
                opacity: .5;
            }
        }
    }
}


.banner__desc{
    font-size:19px;
    font-family:"DM Sans",Sans-serif;
    libe-height:16px;
}

.socials__foot{
    a{
        color:#fff;
        li{
            display:flex;
            align-items: center;
            justify-content: center;
            background: #000;
            height: 40px;
            width: 120px;
            border-radius: 30px;
            list-style: none;
            img{
                width: 20px;
            }
        }
    }
    a:hover{
        text-decoration: none;
    }
}
.image-grey{
    filter: grayscale(1);
    opacity: .5;
    width:55px !important;
}
.image-grey.extra-w{
    width:100px !important;
}



//Colors
$black: #34435E;
$white: #ffffff;
.roadmap{
    main {
        min-width: 300px;
        max-width: 85%;
        // margin: auto;
      }
      
      .roadmap__item {
        font-size: 1em;
        line-height: 1.75em;
        border-top: 3px solid;
        border-image: linear-gradient(to right, #fff 0%, #4fe19b 100%);
        border-image-slice: 1;
        border-width: 3px;
        margin: 0;
        padding: 40px;
        counter-increment: section;
        position: relative;
        color: #fff;
        
        //numbers
        &:nth-child(2):before, &:first-child:before {
            background-image: url('../images/check.svg');
            background-color: #fff;
          }
        &:before {
          content: '';
          position: absolute;
          background-image: url('../images/close.svg');
          background-size: 50%;
          background-repeat: no-repeat;
          background-position:center;
          border-radius: 50%;
          padding: 10px;
          height: 2.25em;
          width: 2.25em;
          background-color: #4fe19b;
          text-align: center;
          line-height: 1.25em;
          color: #000;
          font-weight: 600;
          font-size: 1.2em;
        }
      }
      //odd number borders
      .roadmap__item:nth-child(odd) {
        border-right: 3px solid;
        padding-left: 0;
        
        &:before {
          left: 100%; 
          margin-left: -14px;
        }
      }
      //even number borders
      .roadmap__item:nth-child(even) {
        border-left: 3px solid;
        padding-right: 0;
        
        &:before {
          right: 100%; 
          margin-right: -14px;
        }
      }
      //handle first and last
      .roadmap__item:first-child {
        border-top: 0;
        border-top-right-radius:0;
        border-top-left-radius:0;
      }
      .roadmap__item:last-child {
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
      }

      .roadmap__item h6{
          color: #fff;
      }
      .roadmap__item p{
        color:#7d7c7c;
      }
}
.team{
    h2{
        font-family: "DM Sans",Sans-serif;
        font-size: 50px;
    }
    .box-inner {
        margin-bottom: 30px;
        transition: all .6s ease;
        box-shadow: 0px 2px 60px 0px rgb(0 94 251 / 15%);
        // padding: 2em 1.5em;
        text-align: center;
        margin-top: 5em;
        background: #fff;
        border-radius: 5px;
        position: relative;
    }
    .team__member{
        // padding-top:100px;
        img{
            width: 150px;
            border-radius: 50%;
            // position: relative;
            // top: -75px;
            // margin-top:-50%;
            position:absolute;
            top:0;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
}

.collapse__faq{
    .collapse__tab{
        transition: all ease .3s;
        height: 0;
        overflow: hidden;
        padding: 0 !important;
        display: block;
    }
}

.expand__faq{
    #elementor-tab-title-2431 {
        border:none;
    }
    .collapse__tab{
        // display: flex !important;
        height: auto;
        padding: 10px 15px 20px 50px !important;
    }
    .elementor-toggle-title{
        padding:10px 20px;
    }
}

.modal__app{
    position: fixed;
    top:0;
    height:100vh;
    left: -100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 5000;
    transition: all ease .3s;
    font-family: "DM Sans",Sans-serif;
    .modal__content{
        background-color: #fff;
        border-radius: 14px;
        h3{
            color:#000;
        }
        .close__modal{
            text-decoration: underline;
            cursor: pointer;
            font-size: 20px;
        }
    }
}
.show__modal__app{
    left: 0;
}