a, a:hover{
    text-decoration: none;
}
il{
    list-style: none;
}

header{
    background: transparent;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:5000;
    .logo__container{
        img{
            width:165px;
        }
    }
    nav{
        ul{
            li{
                list-style: none;
                a{
                    font-size: 17px;
                    color:#fff;
                }
            }
            a {
                li{
                    font-size: 17px;
                    color:#fff;
                    background-color: #45F5A1;
                    color:#000;
                    height:40px;
                    width:150px;
                    border-radius:20px;
                    transition: all ease .3s;
                }
            }
            a:hover{
                opacity: .5;
            }
        }
    }
}


.banner__desc{
    font-size:19px;
    font-family:"DM Sans",Sans-serif;
    libe-height:16px;
}