a, a:hover{
    text-decoration:none;
}
li{
    list-style: none;
}
.button__1{
    width: 320px;
    height: 47px;
    background: #009506;
    border-radius: 10px;
    border:none;
    outline:none;
    color:#fff;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    .logo__container{
        img{

        }
    }
    .right{
        ul{
            .pool{
                background: rgba(0,149,6,.1);
                border-radius: 10px;
                padding:16px 18px;
            }
            li{

            }
            li img{
                
            }
            li span{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: #009506;  
            }   
            li a{
                
            }
        }
    }
}
.user__area{
    padding:40px 0;
    font-family: Roboto;
    background: linear-gradient(180deg, rgba(119, 255, 124, 0.1) 0%, rgba(255, 194, 12, 0.1) 100%);
    min-height: 100vh;

    .header{
        margin-bottom: 70px;
    }
    .content.white{
        background: #fff;
        border-radius: 10px;
    }
}
.app__login{
    min-height: 100vh;
    .container{
        min-height: 100vh;
    }
    .content{
        img{
            margin-bottom: 80px;
        }
        h2{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            margin-bottom: 37px;
            color: #494949;
        }
    }
    .content form{
        input{
            display: block;
            width: 320px;
            height: 47px;
            background: #E5E5E5;
            border-radius: 10px;
            outline:none;
            border: none;
            margin-bottom:13px;
            padding:15px;
        }
        
    }
}

.recovery__phase{
    
    .logo__container{
        margin-bottom:70px;
    }
    .page__icon{
        margin-bottom: 34px;
    }
    h2{
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #494949;
    }
    .recovery__desc{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #494949;
        margin-bottom: 34px;
    }
    .recovery__tags{
        justify-content: center;
        .tag__item{
            min-width:  100px;
            padding: 0 15px;
            height: 29px;
            background: rgba(229,229,229,.3);
            // opacity: 0.3;
            border: 1px solid rgba(0,0,0,.3);
            box-sizing: border-box;
            border-radius: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #494949;
        }
    }
    .copy{
        img{

        }
        span{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #009506;
            margin:35px 0 27px 0;
            cursor:pointer;
        }
    }
}

.crypto__deposit{
    .content{
        background: #fff;
        border-radius: 10px;
        .back{
            margin-bottom: 53px;
            img{

            }
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-align: center;

                color: #494949;
            }
        }

        .select__coin{
            margin-bottom: 45px;
            img{
                
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
            }
        }

        .chainlinks{
            
            li{
                padding:12.7px 0;
                border: 0.4px solid #C4C4C4;
                box-sizing: border-box;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
            }
        }
        
    }
}
.market{
    .wallet__link{
        background: #009506;
        border-radius: 10px;
        width: 172px;
        height: 58px;
        margin-left:-40px;
        margin-bottom:25px;

        span{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: #FFFFFF;
        }
    }
    h3{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        margin-bottom:20px;
        color: #494949;
        
    }
    .options{
        margin-bottom: 14px;
        .option__item{
            border: 1px solid rgba(0, 149, 6, .5);
            box-sizing: border-box;
            border-radius: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #009506;
            cursor: pointer;
            width: 70px;
            height: 30px;
            transition: all ease .3s;
        }
        .option__item.active, .option__item:hover{
            border: 1px solid #009506;
        }
    }
    .placard{
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        border-radius: 10px;
        padding:20px;
        h6{
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #808080;
        }
        .value{
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }
        .max{
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #009506;
        }
        .chainlink-select{
            outline:none;
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            border-radius: 5px;
            width: 106px;
            height: 30px;
        }
        .select__token{
            background: #FFF8E0;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            width: 126px;
            height: 35px;
            color: #009506;
            cursor: pointer;
        }
    }

}

@media (max-width:767px){
    .recovery__phase{
        .logo__container{
            img{
                width: 150px;
            }
        }
    }
}